/*
=============== 
Fonts
===============
*/

@import url(https://fonts.google.com/specimen/Karla);

/*
=============== 
Variables
===============
*/

:root {
  /* primary colors */
  --clr-blue: hsl(179, 62%, 43%);
  --clr-bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --clr-light-grey: hsl(204, 43%, 93%);
  --clr-dark-grey: hsl(218, 22%, 67%);
  --clr-white: #fff;

  --ff-primary: "Karla", sans-serif;
  --transition: all 0.3s linear;
  --radius: 0.35rem;
}

/*
=============== 
Global Styles
===============
*/

*,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-white);
  line-height: 1.75;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1 {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  opacity: 0.85;
}

p {
  margin: 1.25rem auto;
  color: var(--clr-white);
}

/*  global classes */

.btn {
  text-transform: capitalize;
  background: var(--clr-bright-yellow);
  color: var(--clr-white);
  padding: 0.5rem 0rem;
  text-align: center;
  display: block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}
.btn:hover {
  color: var(--clr-bright-yellow);
  background: var(--clr-white);
  transition: var(--transition);
}

.section-center {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

main {
  background: var(--clr-light-grey);
  height: 870px;
  width: 375px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.page-container {
  width: 85%;
  margin: 4.25rem auto;
  border-radius: var(--radius);
}

.section-info {
  opacity: 0.8;
}

/*
=============== 
Header
===============
*/

.header {
  background: var(--clr-white);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 1.5rem 1rem;
}

.header h1 {
  color: var(--clr-blue);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.header p {
  color: var(--clr-dark-grey);
  margin-bottom: 0.75rem;
  font-weight: 400;
}

.header .guarantee {
  color: var(--clr-bright-yellow);
  opacity: 0.8;
  font-size: 0.85rem;
  font-weight: 700;
  text-shadow: 0 0 2px var(--clr-white);
}

/*
=============== 
Subscriptions
===============
*/

.subscription {
  background: var(--clr-blue);
  padding: 1.75rem 0.75rem 1.5rem 0.75rem;
}

.subscription h1 {
  margin-bottom: 0.5rem;
}

.subscription p {
  margin: 0.1rem 0;
}

.price-info {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
}

.price {
  font-size: 1.75rem;
  font-weight: 700;
}

.transparent-text {
  opacity: 0.5;
  font-size: 0.85rem;
}

/*
=============== 
Footer
===============
*/

.footer {
  position: relative;
  background: var(--clr-blue);
  padding: 1.5rem 0.75rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.footer h1 {
  margin: 0.5rem 0;
}

.footer ul {
  color: var(--clr-light-grey);
  opacity: 0.7;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  opacity: 0.2;
}

/*
=============== 
Media Queries
===============
*/

@media screen and (min-width: 750px) {
  .page-container {
    display: grid;
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    grid-template-areas:
      "a a"
      "b c";
  }
  .header {
    grid-area: a;
  }
  .subscription {
    border-bottom-left-radius: var(--radius);
    grid-area: b;
  }

  .footer {
    grid-area: c;
    border-bottom-left-radius: 0;
  }

  main {
    height: 660px;
    width: 900px;
  }

  .btn {
    margin-top: 2.5rem;
    margin-bottom: 0.25rem;
  }
}
